<div class="modal fade" id="carrier-popup" tabindex="-1" role="dialog" aria-labelledby="carrier-popup-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="carrier-popup-label">Carrier Details</h5>
          <button type="button" class="btn btn-secondary btn-sm close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Carrier details will be inserted here -->
        </div>
   
      </div>
    </div>
  </div>