<!-- Loader Modal -->
<div id="loaderModal" class="modal" tabindex="-1" role="dialog" style="display: none; background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background: none; border: none;">
        <div class="modal-body text-center">
          <div class="loader"></div>
          <p class="text-white">Please be patient, your submission is being processed...</p>
        </div>
      </div>
    </div>
  </div>
  