<% if (typeof flash !== 'undefined' && flash.validationErrors) { %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% flash.validationErrors.forEach((error) => { %>
        <li><%= error %></li>
      <% }); %>
    </ul>
  </div>
<% } %>