<% if (locals.flash.validationErrors && locals.flash.validationErrors.length) { %>
    <div class="alert alert-danger">
      <ul>
        <% locals.flash.validationErrors.forEach(function(error) { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    </div>
<% } %>
