<% if (locals.validationErrors && validationErrors.length) { %>
    <div class="alert alert-danger">
      <ul>
        <% validationErrors.forEach(function(error) { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    </div>
<% } %>
