<footer class="footer bg-dark fixed-bottom">
    <!-- Add your footer content here -->
    <div class="container">
      <p class="text-center text-white">&copy; 2023 AGD Logistics. All rights reserved.</p>
    </div>
  </footer>

  <!-- Add Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <script src="/js/myScript.js"></script>
  



</html>
