
<div class="row">
    <div class="row py-">
      <main class="bg-dark py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h5 class="text-white mb-3">About Us</h5>
              <p class="text-white">AGD Logistics is a premier freight brokerage company specializing in Full Truckload (FTL), Less Than Truckload (LTL), and Partial Load transportation services. Founded in 2020, we have rapidly established ourselves as a reliable and customer-focused partner for all your shipping and transportation needs.</p>
            </div>
            <div class="col-md-4 mx-5">
              <h5 class="text-white mb-3">Contact Us</h5>
              <ul class="list-unstyled text-white">
                <li><i class="bi bi-geo-alt-fill"></i> 323 Sunny Isles Boulevard 7th Floor, Sunny Isles Beach, FL 33160</li>
                <li><i class="bi bi-envelope-fill"></i> <a href="mailto:info@agdlogistics.com">info@agdlogistics.com</a></li>
                <li><i class="bi bi-telephone-fill"></i> <a href="tel:+17862755040">(786) 275-5040</a></li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="row">
      <footer class="footer bg-dark">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center text-white">&copy; 2023 AGD Logistics. All rights reserved.</p>
          </div>
        </div>
      </footer>
    </div>  
  </div>






  <!-- Add Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" nonce="<%= nonce %>"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" nonce="<%= nonce %>"></script>
  <script nonce="<%= nonce %>" src="/js/myScript.js"></script>
  



</html>
