<section class="testimonials my-5">
    <div class="container">
        <h2 class="section-title text-center">What Our Customers Are Saying</h2>
        <div class="row">
            <div class="col-md-12">

                    <div class="container mt-3">
                        <h4 class="text-center">Testimonials</h4>
                        <div id="testimonials" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators"></ol>
                        <div class="carousel-inner"></div>
                        <a class="text-black carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon sr-only" aria-hidden="true"></span>

                        </a>
                        <a class="text-black carousel-control-next" href="#testimonials" role="button" data-slide="next">
                            <span class="carousel-control-next-icon sr-only" aria-hidden="true"></span>

                        </a>
                        </div>  
                    </div>

            </div>
        </div>
    </div>
</section>