<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Generate a new invite link</h5>
        </div>
      
      <div class="card-body">
        <form id="generate-invite-form" class="form-inline">
          <div class="form-group">
            <label for="mcNumber">Generate a new invite link for a carrier to join your agency.</label>
            <input type="text" id="mcNumber" name="mcNumber" class="form-control my-3" placeholder="MC Number" required>
            <button type="submit" class="btn btn-primary mt-3">Generate Invite Link</button>
          </div>
          <div class="my-3">
            <span id="invite-url-preview"></span>
          </div>
        </form>
      </div>
    </div>
      
    </div>

</div>
</div>
  