<% layout('layout.ejs') %>
<%- include('../modals/carrierModal.ejs') %>
<%- include('../modals/inviteModal.ejs') %>
<div class="container">
    <div id="flash-messages-container"></div>

    <h1>Dashboard</h1>



<% if(user.role === 'agent') { %>
    <%- include('agent.ejs') %>
<% } else { %>
    <%- include('moderator.ejs') %>
<% } %>


</div>