<% layout('layout.ejs') %>
<div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <img src="/img/about-us-img@2x-min.jpg" alt="AGD Logistics" class="img-fluid mb-3">
      </div>
      <div class="col-md-6">
        <h2 class="mb-4">AGD Logistics - Your Trusted Freight Brokerage Partner</h2>
        <p>Welcome to AGD Logistics, the premier freight brokerage company in the United States, specializing in Full Truckload (FTL), Less Than Truckload (LTL), and Partial Load transportation services. Founded on 2021, we have rapidly established ourselves as a reliable and customer-focused partner for all your shipping and transportation needs.</p>

    <p>At AGD Logistics, we understand that each client has unique requirements and challenges when it comes to freight transportation. That's why we offer tailored solutions to meet your specific needs, ensuring a seamless and efficient shipping experience.</p>
  
    <p>Our team of experienced and dedicated professionals work tirelessly to find the best carriers and routes, leveraging cutting-edge technology and a vast network of reliable partners. We pride ourselves on offering competitive rates, timely deliveries, and unparalleled customer service.</p>
  
    <p>Choose AGD Logistics as your trusted partner for all your freight brokerage needs and experience the difference of working with a team that truly values your business. Together, let's keep your goods moving and your business thriving!</p>
  </div>
    </div>
  </div>