.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  
  .hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/AGD_Logistics_image.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    z-index: -1;
  }
  
  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .hero__title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .hero__subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .hero__button {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .hero__button:hover {
    background-color: #000;
    color: #fff;
  }



  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  .carousel-inner {
    margin: 0 auto;
    width: 80%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
  }  

  .setup-step {
    position: relative;
    padding: 20px;
    transition: background-color 0.3s;
}

.setup-step:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.setup-step h4 {
    position: relative;
    transition: text-decoration 0.3s;
}

.setup-step h4::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s;
}

.setup-step:hover h4::before {
    visibility: visible;
    width: 100%;
}

.setup-step-number {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #000;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.setup-step:hover .setup-step-number {
    opacity: 1;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.card {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.hover-shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.alert, alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

.alert-success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.myPageContainer {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

body {
  flex-grow: 1;
}

#noaUpload {
display: none;
}

#voidCheckUpload {
  display: none;
}