<form action="/carriers/:id/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="document">Upload document:</label>
      <input type="file" name="document" id="document">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  